In [1]:
import ibm_db

In [2]:
dsn_hostname = "dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net" # e.g.: "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net"
dsn_uid = "mxl88226"        # e.g. "abc12345"
dsn_pwd = "ncm+1bzvxn4fljb3"      # e.g. "7dBZ3wWt9XN6$o0J"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_port = "50000"                # e.g. "50000" 
dsn_protocol = "TCPIP"

In [3]:
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

#print the connection string to check correct values are specified
print(dsn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=mxl88226;PWD=ncm+1bzvxn4fljb3;

In [4]:
try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  BLUDB as user:  mxl88226 on host:  dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net

In [7]:
createQuery = "create table INSTRUCTOR1( I_id INTEGER PRIMARY KEY NOT NULL,  F_NAME VARCHAR(20), L_NAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2))"

#Now fill in the name of the method and execute the statement
createStmt = ibm_db.exec_immediate(conn, createQuery)

In [9]:
insertQuery = "insert into INSTRUCTOR1 values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA'),(2,'Rahul','Chong','Markham','CA'),(3,'Hima','Vasudevan','Chicago','US');"

insertStmt = ibm_db.exec_immediate(conn, insertQuery)

In [10]:
selectQuery= "Select * from INSTRUCTOR1";
selectStmt= ibm_db.exec_immediate(conn,selectQuery)

In [14]:
ibm_db.fetch_both(selectStmt)

{'I_ID': 1,
 0: 1,
 'F_NAME': 'Rav',
 1: 'Rav',
 'L_NAME': 'Ahuja',
 2: 'Ahuja',
 'CITY': 'TORONTO',
 3: 'TORONTO',
 'CCODE': 'CA',
 4: 'CA'}

In [21]:
while ibm_db.fetch_row(selectStmt) != False:
    print (" ID:",  ibm_db.result(selectStmt, 0), " FNAME:",  ibm_db.result(selectStmt,"F_NAME"))

In [22]:
while ibm_db.fetch_row(selectStmt) != False:
    print (" ID:",  ibm_db.result(selectStmt, 0), " FNAME:",  ibm_db.result(selectStmt,"F_NAME"))

In [23]:
while ibm_db.fetch_row(selectStmt) != False:
    print (" ID:",  ibm_db.result(selectStmt, 0), " FNAME:",  ibm_db.result(selectStmt,"F_NAME"))

In [24]:
updateQuery = "Update Instructor1 set CITY='MOOSETOWN' where F_NAME='RAV'"
updateStmt= ibm_db.exec_immediate(conn,updateQuery)

In [25]:
selectQuery= "Select * from INSTRUCTOR1";
selectStmt= ibm_db.exec_immediate(conn,selectQuery)

In [26]:
ibm_db.fetch_both(selectStmt)

{'I_ID': 1,
 0: 1,
 'F_NAME': 'Rav',
 1: 'Rav',
 'L_NAME': 'Ahuja',
 2: 'Ahuja',
 'CITY': 'TORONTO',
 3: 'TORONTO',
 'CCODE': 'CA',
 4: 'CA'}

In [29]:
updateQuery = "Update Instructor1 set CITY='MOOSETOWN' where F_NAME='RAV' "
updateStmt= ibm_db.exec_immediate(conn,updateQuery)

In [30]:
selectQuery= "Select * from INSTRUCTOR1";
selectStmt= ibm_db.exec_immediate(conn,selectQuery)

In [31]:
ibm_db.fetch_row(selectStmt)

True

In [32]:
ibm_db.fetch_both(selectStmt)

{'I_ID': 2,
 0: 2,
 'F_NAME': 'Rahul',
 1: 'Rahul',
 'L_NAME': 'Chong',
 2: 'Chong',
 'CITY': 'Markham',
 3: 'Markham',
 'CCODE': 'CA',
 4: 'CA'}

In [33]:
ibm_db.fetch_both(selectStmt)

{'I_ID': 3,
 0: 3,
 'F_NAME': 'Hima',
 1: 'Hima',
 'L_NAME': 'Vasudevan',
 2: 'Vasudevan',
 'CITY': 'Chicago',
 3: 'Chicago',
 'CCODE': 'US',
 4: 'US'}

In [34]:
ibm_db.fetch_both(selectStmt)

False

In [35]:
selectQuery= "Select * from INSTRUCTOR1";
selectStmt= ibm_db.exec_immediate(conn,selectQuery)

In [36]:
ibm_db.fetch_both(selectStmt)

{'I_ID': 1,
 0: 1,
 'F_NAME': 'Rav',
 1: 'Rav',
 'L_NAME': 'Ahuja',
 2: 'Ahuja',
 'CITY': 'TORONTO',
 3: 'TORONTO',
 'CCODE': 'CA',
 4: 'CA'}

In [37]:
import pandas
import ibm_db_dbi

In [38]:
pconn = ibm_db_dbi.Connection(conn)

In [40]:
selectQuery = "select * from INSTRUCTOR1"

#retrieve the query results into a pandas dataframe
pdf = pandas.read_sql(selectQuery, pconn)

#print just the LNAME for first row in the pandas data frame
pdf.L_NAME[0]

'Ahuja'

In [41]:
pdf

   I_ID F_NAME     L_NAME     CITY CCODE
0     1    Rav      Ahuja  TORONTO    CA
1     2  Rahul      Chong  Markham    CA
2     3   Hima  Vasudevan  Chicago    US

In [42]:
ibm_db.close(conn)

True